// COLORS
$midnight-blue: #036;
$midnight-light-blue: #47A39F;

$light-grey: #e6e6e6;
$lightest-grey: #F5F5F5;
$light-dark-grey: grey;

$black: #000;
$white: #fff;

$full-width: 100%;

// WEIGHTS
$active-bold: 700;
$bold: 500;
$vet: 300;

//* {
//  font-family: Arial, Helvetica, sans-serif
//}

.background-none {
  background: none;
  li+li::before{
    content: "";
  }
}

// COLORS IMPLEMENTED
.line {
  border: 2px solid $midnight-light-blue;
}

.midnight-blue {
  color: $midnight-blue;
}

.midnight-light-blue {
  color: $midnight-light-blue;
}

.background-light-blue {
  background-color: $midnight-light-blue;
}

.light-grey {
  color: $light-grey !important;
}

.light-dark-grey {
  color: $light-dark-grey !important;
}

.background-light-grey {
  background-color: $light-grey;
}

.background-light-grey-i {
  background-color: $lightest-grey !important;
  border: 0px !important;
}

.background-dark-grey {
  background-color: $light-dark-grey;
}

// MARGINS

//HALFS
.margin-left-half {
  margin-left: 0.5em;
}

.margin-right-half {
  margin-right: 0.5em;
}

.margin-bottom-half {
  margin-bottom: 0.5em;
}

.margin-bottom-fourth {
  margin-bottom: 0.33em;
}

.margin-top-half {
  margin-top: 0.5em;
}

.margin-top-anderhalf {
  margin-top: 1.5em;
}

.margin-top-minus-half {
  margin-top: -0.5em;
}

.margin-top-minus-1 {
  margin-top: -1em;
}

.margin-left-08 {
  margin-left: 0.8em;
}

//RIGHT-LEFT
.margin-right-1 {
  margin-right: 1em;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-left-1-minus {
  margin-left: -1em;
}
.margin-left-1half-minus {
  margin-left: -2em;
}

.margin-left-images-minus {
  margin-left: -1.6em;
}

.margin-left-6 {
  margin-left: 6em;
}

//BOTTOMS
.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-bottom-2 {
  margin-bottom: 2em;
}

.margin-bottom-3 {
  margin-bottom: 2em;
}

.margin-bottom-5 {
  margin-bottom: 5em;
}

//TOPS
.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2 {
  margin-top: 2em;
}

.margin-top-3 {
  margin-top: 3em;
}

.margin-top-6 {
  margin-top: 6em;
}

.margin-top-12 {
  margin-top: 12em;
}

.full-width {
  width: $full-width;
  display: block;
}

.top-nav {
  margin-top: 1em;
}

.container{

  .logo img {
    top: 0;
    height: 10em;
    position: absolute;
    margin-left: 4em;
    z-index: 1;
  }

  li {

    a {
      color: $midnight-blue;
    }

    a:hover {
      color: $black;
    }

    p {
      margin-top: 0.5em;
      margin-left: 1em;
      margin-right: 1em;
    }

  }

}

.footer-container {
  .list-unstyled {
    a {
      color: $midnight-light-blue;
      font-weight: $active-bold;
    }
  }
}

.top-bar-right {
  padding: 0.7rem 1rem
}

.white {
  color: $white;
}

.black {
  color: $black !important;
  font-weight: $bold;

  li {

    a {
      color: $black;
      margin-right: 1em;
      font-weight: $bold;
    }

    a:hover {
      color: $midnight-blue;
    }

  }

}

.input-group {
  margin-bottom: 0px !important;
  margin-top: 0.2em;
}

.input-group {

  .form-control:first-child {
    border-radius: 5px;
  }

  input {
    height: 2rem;
    width: 2em;
  }

}
.underlined {
  text-decoration: underline;
}

.menu {
  float: left;
  right: 0;
}

.active-bold {
  font-weight: $active-bold;
}

.bold {
  font-weight: $bold;
}

.bottom {
  bottom: 0;
}

.rotate-90 {
  transform: rotate(180deg);
  max-height: 1em;
}

.isearch {
    :focus {
      background: $light-grey;
    }
}

.bordered {
  border: 1px solid $light-grey;
}

.negative {
  margin-top: -0.5em;
}

.hug-top {
  margin-top: -0.7em;
}

.hug-top-complete {
  margin-top: -1.1em;
}
.hug-top-full {
  margin-top: -2em;
}


.bordered-top {
  border-top: 1px solid $light-grey;
}

.bordered-bottom {
  border-bottom: 1px solid $light-grey;
}

.bordered-right {
  border-right: 1px solid $light-grey;
}

.bordered-left {
  border-left: 1px solid $light-grey;
}

.bordered-complete {
  border: 1px solid $light-grey;
}

.padding-complete {
  padding: 1em;
}

@media(max-width: 960px) {

  .dropdown.menu li {
    display:block;
    width:100%;
    text-align: center;
  }
  .logo {
    display:block;
  }
}


.upload-btn-wrapper {
  position: relative;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  background-color: $light-dark-grey;
  color:white;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.padding-1 {
  padding: 1em;
}

.padding-2 {
  padding: 2em;
  text-align:center;
 }


$select-color: #fff;
$select-background: $light-grey;
$select-width: 26.5em;
$select-height: 40px;

h1 {
  font-weight: normal;
  font-size: 40px;
  text-transform: uppercase;
  span {
    font-size: 13px;
    display: block;
    padding-left: 4px;
  }
}

p {
  a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: lighten($select-background, 2);
    &:hover {
      background-color: lighten($select-background, 5);
    }
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: black;
  width: $select-width;
  height: $select-height;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $light-grey;
  padding: 8px 15px;
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid black;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: lighten($lightest-grey, 2);
  }
  &:active, &.active {
    background-color: lighten($lightest-grey, 2);
    &:after {
      top: 9px;
      border-color: transparent transparent black transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $lightest-grey;
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    &:hover {
      color: black;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}

.imagebtn {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.imagebtn img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  object-fit: none;
}

.imagebtn .ovrly {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
}

.imagebtn .buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagebtn .buttons .fa {
  background: rgb(256, 256, 256);
  border-radius: 50%;
  display: inline-block;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  opacity: 0;
  transform: scale(1.5);
  position: relative;
  transition: transform 0.3s, opacity 0.3s;
  color: transparent;
}

.imagebtn:hover .buttons .fa {
  opacity: 1;
  transform: scale(1);
  color: rgba(50, 50, 50, 0.9);
}

.imagebtn:hover .buttons .fa.fa-2x {
  transform: scale(2);
}

.imagebtn:hover .ovrly {
  opacity: 1;
  overflow:hidden;
}

.login-form-group {
  input{
    padding-top: 0.5em !important;
    box-shadow: none !important;
    max-height: 1.75em !important;
    width: 8em;
    font-style: italic !important;
  }
  margin-top: 0.35em !important;
  margin-right: 1.25em !important;
  margin-bottom:0.53em !important;
}

.text-right {
  text-align: right;
}