$midnight-blue: #036;
$black: #000;
$active-bold: 700;
$bold: 500;

.midnight-blue {
  color: $midnight-blue;
}

.top-nav {
  margin-top: 1em;
}

.margin-left-half {
  margin-left: 0.5em;
}

.margin-top-2 {
  margin-top: 2em;
}

.container{

  img {
    top: 0;
    height: 10em;
    position: absolute;
    margin-left: 4em;
    z-index:1;
  }

  li {

    a {
      color: $midnight-blue;
    }

    a:hover {
      color: $black;
    }

    p {
      margin-top: 0.5em;
      margin-left: 1em;
      margin-right: 1em;
    }

  }

}

.top-bar-right {
  padding: 0.7rem 1rem
}

.input-group {
  margin-bottom: 0px !important;
}

.black {

  li {

    a {
      color: $black;
      margin-right: 1em;
      font-weight: $bold;
    }
    a:hover {
      color: $midnight-blue;
    }

  }

}
.input-group {

  .form-control:first-child {
    border-radius: 5px;
  }

  input {
    height: 2rem;
    width:2em;
  }

}
.menu {
  float: left;
  right: 0;
}

.active-bold {
  font-weight: $active-bold;
}